	@charset "UTF-8";
/* CSS Document
font-family: 'Doppio One', sans-serif;
font-family: 'Waiting for the Sunrise', cursive;
 */

/*
green: #589a55
grey: #6f6a6a
brown: #8e643e
white: #f5deba
pink: #cc6666
*/


/*   Whipes Images transistion
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
	 
	 */




/*===============
	GLOBAL
===============*/
img {
	max-width: 100%;
}
 
/*===============
	LAYOUT
===============*/


.container {
	background: url("../img/shattered.png");
	margin: 0 auto;
	width: 960px; /*940px*/
	
}
.rib {
   width: 500px;
   height: 250px;
   position: absolute;
   left: 30%;
   top: 25%; 
   margin-left: -150px;
   margin-top: -150px;
   padding-top: 20px;
 

}

.rib:hover {
	  -webkit-animation: ribbon .75s ;
	   transition: margin-bottom .25s;
}

.grid_10 {
	float: left;
	width: 10%;	
} 

.grid_20 {
	float: left;
	width: 20%;	
}

.grid_30 {
	color: #6f6a6a;
	font-family: 'Doppio One', sans-serif;
	margin: 0 10px;
	padding: 2px 5px;
	float: left;
	width: 30%;	
	text-align: center;
}

.grid_40 {
	float: none;
	width: 40%;	
	left: 20%;
	right: 20%;
	
}


.grid_50 {
	float: left;
	width: 50%;	
}


.grid_60 {
	float: left;
	width: 60%;	
}


.grid_60 {
	background: url("../img/debut_light.png");
	color: #cc6666;
	padding: 0px 5px;
	font-family: 'Waiting for the Sunrise', cursive;
	width: 60%;	
	
}


.grid_80 {
	float: left;
	width: 80%;	
}


.grid_90 {
	float: left;
	width: 90%;	
}


 /*Nav*/
.grid_100 {
	float: left;
	width: 100%;	
}




.container:before,
.container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}


.container:after,
.container:after {
  clear: both;
}


footer {
	background: #8e643e;
	color: #f5deba;
	font-size: 12px;
	text-align: center;
	width: 960px;
	margin: auto;
	
}


/*===============
	NAV
===============*/
header {
	display: inline;
	float: left;
	clear: both;
	content: ".";
    display: block;
    height: 30px;
	
}

/*===============
	NAV
===============*/
nav li { /*div*/
	
	list-style: none;
	margin: 0 10px;
	font-family: 'Doppio One', sans-serif;
    transition: margin-bottom .25s;
}



ul {
	float: right;
	display: inline;
	margin: 0 ;
}


li {
	clear: both;
	display: inline;
	list-style: none;
}
  
nav a:link, 
nav a:visited {
	color:#589a55;
	padding: 10px;
    text-transform: uppercase;
    background: #f5deba;
	display: inherit;
    line-height: 40px;
	text-decoration: none;
}

nav a:hover, 
nav a:active {
	color:  #8e643e;
	-webkit-animation: faded .75s ;
}


.home li:nth-child(1), 
.portfolio li:nth-child(2),
.about li:nth-child(3){
	background: rgba(255,255,255,.15);
	float: inherit;*/
}
a:focus{ 
border: 1px dotted green;
}
 /*===============
	Images Whipes
===============*/
#page-wrap {
	clear: left;
	float: right;
	display: inline;
	padding-bottom: 20px
}

#banner {	
	width: 235px;
	height: 286px;
	position: relative;/*relative*/
	border: 8px solid #eee;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
	}
	
#banner div {
	position: absolute; /*absolute*/
	}
		
#banner div:nth-child(2) {
	-webkit-animation: wipe 6s infinite;
	-webkit-animation-delay: 3s;
	-webkit-animation-direction: alternate;
	-webkit-mask-size: 2000px 2500px; /*2000px x 2000px*/
	-webkit-mask-image: -webkit-gradient(linear, left top, right bottom, 
		color-stop(0.00,  rgba(0,0,0,1)),
		color-stop(0.45,  rgba(0,0,0,1)),
		color-stop(0.50,  rgba(0,0,0,0)),
		color-stop(0.55,  rgba(0,0,0,0)),
		color-stop(1.00,  rgba(0,0,0,0)));
}
		
		
		

/*===============
	TYPOGRAPHY
===============*/


h2 {
	font-size: 1.6875em; /* 27px / 16px = 2.25em */
	margin: .52%; /* 5px/ 960 =*/
}

p {
	font-size: 18px;
	line-height: 1.25em; /* 20px */
}


body {
	background: #f5deba;
}

h2,
p {
	padding: 0px 8px;
}



aside {
	background:#cc6666;
}



/*===============
	KEYFRAM ANIMATIONS
===============*/
 
 @-webkit-keyframes faded {
	0% { 
    opacity: .5;
    padding: 10px;
  }
  
  
	100% { 
 
    opacity: 1;
    padding: 15px;
  }

  
}

 
 @-webkit-keyframes ribbon {
	0% { 
    opacity: .5;
    padding: 10px;
  }
  
  
	100% { 
 
    opacity: 1;
    padding: 20px;
  }

  
}



@-webkit-keyframes wipe {
0% {
	-webkit-mask-position: 0 0;
	}
	
	
100% {
	-webkit-mask-position: -1200px -1200px;
	}
}
		
 
/*===============
	STANDARD DESKTOP
===============*/
@media screen and ( max-width: 1024px ) {
	
	.container {
		width: 768px;
	}

	body {
		background: red;
	}
}
 
 /* end of Stadnard Desktop */
 
 
 
/*===============
	TABLET
===============*/
@media screen and ( max-width: 768px ) {
	
.container {
	width: 100%;
	}
	
.grid_10,
.grid_20,
.grid_30,
.grid_40,
.grid_50,
.grid_60,
.grid_70,
.grid_80,
.grid_90,
.grid_100 {
	float: none;
	width: 100%;	
}

 
 body {
	 background: yellow;
 }
}
/*===============
	PHONE
===============*/
@media screen and ( max-width: 480px ) {
.container {
	width: 100%;
	}
	
.grid_10,
.grid_20,
.grid_30,
.grid_40,
.grid_50,
.grid_60,
.grid_70,
.grid_80,
.grid_90,
.grid_100 {
	float: none;
	width: 100%;	
}
 body {
	 background: blue;
 }
}
	
 /* end of phone */
 
 
  